
html body{
	font-family: Roboto;
}
body .calcRow{
	padding:3px;
	font-weight: bold;
}
.calcBody div div{
	text-align:center;
	border: 3px solid black;
	border-radius: 10px;
	font-size:2em;
	margin: 6px 0px;
}
#outPut{
	font-size:2em;
	padding: 3px;
	margin: 12px 3px 0 3px;
	cursor:text;
	border: 3px solid black;
	text-align:right;
	background-color:#8da36c;
	border-radius: 10px;
	color:#000;
}
.calcBody{
	border:3px solid black;
	border-radius: 12px;
	background-color: rgba(38, 210, 233, 0.49);
}
.numIn{
	color:#FFF;
	background-color:#262626;
}
.mathOp{
	color:#262626;
	background-color:#b1acac;
}
.resolve{
	color:#F00;
	background-color:#DCADB0;
}
.numIn:active {
	background-color:#aaaaaa;
	color:#000000;
}
.resolve:active {
	background-color:#ff0000;
	color:#ffffff;
}
.mathOp:active {
	background-color:#000000;
	color:#ffffff;
}
